        .container {
            max-width: 1200px;
            margin: 0 auto;
        }
        table, th, td {
            border: none;
            padding: 15px;
            border-collapse: collapse;
        }
        .friends-table th{
            background-color: #087e7e;
            color: white;
        }
        .friends-table tr:nth-child(even) {
            background: #087e7e;
            color: white;
        }
        caption {
            font-size: 20px;
        }
        .icons {
            font-size: 50px;
        }
        .icons .fa-facebook {
            color: #4267B2;
        }
        .icons .fa-youtube {
            color: #FF0000;
        }
        .ground {
            width: 900px;
            height: 500px;
            border: 5px solid rgb(8, 99, 184);
        }
        .ball {
            width: 30px;
            height: 30px;
            border-radius: 15px;
            background-color: brown;
            margin-left: 50%;
        }
        @keyframes ball-game {
            0% {}
        }